.CopyButtonContainer {
  button:before {
    content: 'Copied';
    font-size: 10px; // Scaled from 12px
    position: absolute;
    left: -44px;     // Adjusted from -53px
    padding: 1px 4px;  // Scaled from 2px 6px
    height: 24px;    // Scaled from 30px
  }
}
